<h1>Listing comments</h1>

<%= link_to 'New Comment', new_comment_path, class: "btn btn-primary btn-new-comment" %>

<table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th>Actions</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.title %></td>
    <td><%= comment.content %></td>
    <td><%= comment.user.email %></td>
    <td>
      <%= link_to 'Show', comment %> 
      <% if current_user == comment.user %>
      -
      <%= link_to 'Edit', edit_comment_path(comment) %> -
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
    <!-- <td>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
    </td> -->
  </tr>
<% end %>
</table>
