<p id="notice"><%= notice %></p>
<div class="panel panel-default">
<div class="panel-heading">
	<strong> <%= @comment.title %></strong>
</div>
<div class="panel-body">
	 <%= @comment.content %>
</div>
</div>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
